@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
--primary-white: #fff;
--primary-orange: #f9ab00;
--primary-dark: rgba(255, 255, 255, 0);
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
  color: var(--primary-white) !important;
}
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}
nav ul li {
text-transform: bold;
}
.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 12px;
  margin-left: 12px;
  border-bottom: 3px solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 3px solid var(--primary-orange);
}