@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
--primary-white: #fff;
--primary-orange: #f9ab00;
--primary-dark: rgba(255, 255, 255, 0);
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-brand {
  max-width: 15.25rem;
  height: 3rem !important;
  color: var(--primary-white) !important;
}
.navbar a.logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 10px;
}
.navbar a.logo span{
  color: var(--primary-orange);
  transition: all 0.3s ease;
}

nav ul li {
text-transform: bold;
}
.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 12px;
  margin-left: 12px;
  border-bottom: 3px solid var(--primary-dark);
}

.navbar-nav li a.nav-link{
  list-style: none;
  display: inline-block;
}
.navbar-nav li a.nav-link{
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar-nav li a:hover{
  color: var(--primary-orange);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 3px solid var(--primary-orange);
}
/*--------------------HEADER/Home STYLE---------------------*/
.home {
  display: flex;
  background: url("./assets/my_pic2.jpg") no-repeat;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
  
}
.home .max-width {
  margin: auto 0 auto 30px;
}
.home .home-content .text-1{
  font-size: 27px;
}
.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span{
  color: var(--primary-orange);
  font-weight: 500;
}
/*------------------About Style-------------------*/
section {
  padding : 100px 0;
  margin: 5%;
}
.about, .work, .skills, .projects, .contact, footer {
  font-family: 'Poppins', sans-serif;
}
.about .about-content,
.work .work-content,
.skills .skills-content,
.contact .contact-content{
  display : flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
section .title::before{
  content: '';
  position: absolute;
  bottom : 0px;
  left : 50%;
  width : 180px;
  height : 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after{
  
  position: absolute;
  bottom : -12px;
  left : 50%;
  font-size: 20px;
  color: var(--primary-orange);
  padding : 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .title::after{
  content : 'who i am';
}

.about .about-content .column{
  width : 50%;
}
.about .about-content .left{
width : 45%;

}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span{
  color : var(--primary-orange);
}
.about .about-content .right p{
  text-align: justify;
}
.about .about-content .right a{
  display: inline-block;
  background: var(--primary-orange);
  color : #fff;
  font-size: 20px;
  font-weight: 500;
  padding : 10px 30px;
  margin-top : 20px;
  border-radius: 6px;
  border: 2px solid var(--primary-orange);
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
  color : var(--primary-orange);
  background: none;
}
.about .about-content .left img{
  height : 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
/*----------------Work Style--------------*/
.work, .projects{
  background: #111;
  color : #fff;
}
.work .title::before,
.projects .title::before{
  background: #fff;
}
.work .title::after{
  content : 'my work';
  background: #111;
}
.work .work-content .card{
  width : calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding : 20px 25px;
  cursor : pointer;
  transition: all 0.3s ease;
}
.work .work-content .card:hover{
  background: var(--primary-orange);
}
.work .work-content .card .box{
  transition: all 0.3s ease ;
}
.work .work-content .card:hover .box{
transform: scale(1.05);
}
.work .work-content .card i{
  font-size: 50px;
  color : var(--primary-orange);
  transition: color 0.3s ease;
}
.work .work-content .card:hover i{
  color : #fff;
}
.work .work-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin : 10px 0 7px 0;
}

/*-----------------FOOTER STYLE------------------*/
footer {
  background: #111;
  padding : 20px 23px;
  color : #fff;
  text-align: right;
  justify-content: space-between;
}
footer span{
  color : rgb(231, 73, 73);
  text-decoration: none;
}
footer span:hover{
  text-decoration: underline;
  cursor: pointer;
}

